@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --color-danger: red;
    --color-success: green;
}

.message {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-danger);
}

.message__label {
    display: block;
    margin-bottom: 8px;
}

.message__input {
    display: block;
}

.message__input_error {
    border-color: var(--color-danger);
}

.message_size_l {
    font-size: 1.5rem;
}

p {
    color: var(--color-success);
}
